* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.form-container, .question-container, .result-container {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"], button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="number"] {
    width: 100px;
}

#questionInputContainer {
    margin-top: 10px;
}

.question-input {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.question-input input {
    width: 75%;
    margin-right: 10px;
}

.question-input button {
    background-color: #f44336;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fafafa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
